.container {
    display: flex;
    height: 100vh;
    box-sizing: content-box;
    
}

.groupList {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10;
}

.groupListItems {
    list-style-type: none;
    padding: 0;
}

.studyGroups {
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
    box-sizing: border-box;
    border-radius: 8px;
}

.studyGroups:hover{
    background-color: #c2bfbf;
}
.mainContent {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column; /* Stack title and messages vertically */
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    padding: 20px;
    width: 70vw;
}

.iconGroup{
    display: flex;
    align-items: center;

}

.iconGroup > img{
    border-radius: 50%;

}

.group{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}

.messages{
    list-style-type: none; 
}

.messageContainer {
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto; /* Allow scrolling for messages */
    max-height: 70vh; /* Limit the height of the message container */
}


.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form textarea {
    flex: 1;
    width: 100%; /* Make the textarea take the full width of the form */
    min-height: 20px;
    max-height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    resize: none;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Modern equivalent for word wrapping */
    white-space: pre-wrap;
}

.buttons {
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.buttons:hover {
    background-color: #e3f7e3;
}

.disabled{
    cursor: not-allowed;
    opacity: 0.4;
}

@media screen and (max-width: 500px){
    .groupList{
        width: 100vw; 
        
    }
    .groupList.hidden{
        opacity: 0;
        visibility: hidden;
    }
    .mainContent{
        width: 100vw;
        display: none;
    }
   
}